body{
    font: times sans-serif;
    background-color: lightyellow;
z-index: 0;
}

#col1 ul{
    display:inline-block;

    color: blue;

}

#burgpic{
    width:20%;
    border:1px solid black;
}

 

#col3 li{
text-decoration: line-through;
    color:red;
}